h2, h3 {
  color: #FFD166;
  text-align: center;
  margin-top: 1em;
}

.table {
  background-color: #222;
  color: #ddd;
  border-radius: 10px;
}

.plotly {
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255,255,255,0.1);
}
